<!DOCTYPE html>
<html>
<head>
  <title>Chef's Recipes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('menu', {active: "home"}); %>
  <div class="main">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= user %></p>
  </div>

</body>
</html>