<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="main">
    <div class="login-form">

      <h1><%= title %> Please sign in</h1>

      <!-- Log in form -->
      <form name="signin" method="post" action="/">

        <input id="inputUserName" type="text" name="username" placeholder="username" required>

        <input id="inputPassword" type="password" name="password" placeholder="password" required>

        <button id="btnSubmit" type="submit">Submit</button>
        
      </form>

    </div>
  </div>
</body>
</html>