<!DOCTYPE html>
<html>
<head>
	<title>Chef's Recipes</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>

	<div class="main">

		<!-- Menu with drop down -->

		<ul id="menu-ul">

			<li><a <%if(id=="home"){%>class="active"<%}%> href="/home">Home</a></li>

			<li class="dropdown">

				<a <%if(id=="recipes" || id=="createrecipe"){%>class="active"<%}%> href="/recipes" class="dropbtn">Recipes</a>

				<div class="dropdown-content">
					<a href="/createrecipe">Create A Recipe</a>
				</div>
				
			</li>

			<li><a <%if(id=="myrecipes"){%>class="active"<%}%> href="/myrecipes">My Recipes</a></li>

			<li id="logout"><%=user%><a href="/logout"> Log out</a></li>

		</ul>
	</div>
</body>
</html>